<!-- **************  Quiz View  ************** -->
<div class="content" id="quizGame">
  <div class="side-image">
    <div class="images-wrapper"></div>
    <div class="side-image-content">


      <div>{{PlayViewModel.quiz.quizTitle}}, {{PlayViewModel.highscore.questionsAnswered}}</div>

      <div>{{PlayViewModel.quiz.quizTitle}}</div>
      <div></div>



      <!-- Question area -->
      <div class="questionOptionArea">
        <div class="questionArea">
          <div class="qTitle">{{PlayViewModel.quiz.quiz[PlayViewModel.highscore.questionsAnswered].questionTitle}}</div>
          <div class="qText">{{PlayViewModel.quiz.quiz[PlayViewModel.highscore.questionsAnswered].questionText}}</div>
          <div class="qImage"></div>
        </div>

        <!-- Question area -->
        <div class="row">
          <div class="optionArea" data-ng-repeat="quizOptions in PlayViewModel.quiz.quiz[PlayViewModel.highscore.questionsAnswered].options">

            <div data-ng-class="PlayViewModel.selectedColor($index)" id="option{{$index}}" data-ng-click="PlayViewModel.selectAnswer($index)">
              <div class="card small sm-size">
                <div class="card-image">
                  <img src="../../../styles/images/black_wolf.jpg">
                  <span class="card-title">Card Title</span>
                </div>
                <div data-ng-class="PlayViewModel.selectedColor($index)">
                  <div class="card-content">
                    <div class="optionTitle option{{$index}}"> {{quizOptions}} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Answer area -->



      <!-- input username -->
      <div data-ng-show="PlayViewModel.showUsername">
          <input type="text-area" placeholder="Anonymous Player" name="username" data-ng-model="PlayViewModel.highscore.username" style="border: 1px solid black"><br>
      </div>

      <!-- User Tools -->
      <button data-ng-click="PlayViewModel.nextQuestion()">NEXT</button>

    </div>
  </div>
</div>
<!-- ***************************************** -->
