
<div class="row">
  <div class="z-depth-3 questionContent card small">
    <div class="questionImage card-image">
      <img src="../../../styles/images/black_wolf.jpg">
      <span class="card-title teal">{{PlayViewModel.quiz.quizTitle}}</span>
    </div>
    <div class="questionWords">
      <span class="questionTitle grey darken-2">{{PlayViewModel.quiz.quiz[PlayViewModel.highscore.questionsAnswered].questionTitle}} </span>
      <span class="questionText">  {{PlayViewModel.quiz.quiz[PlayViewModel.highscore.questionsAnswered].questionText}}</span>
      <div data-ng-show="PlayViewModel.showUsername">
        Choose your username: <input type="text-area" placeholder="Anonymous Player" name="username" data-ng-model="PlayViewModel.highscore.username" style="border: 1px solid black"><br>
      </div>

    </div>
  </div>
</div>

<div class="clearfix optionArea">
  <div data-ng-repeat="quizOptions in PlayViewModel.quiz.quiz[PlayViewModel.highscore.questionsAnswered].options">
    <button class="waves-effect waves-light btn-large quizOptionButton hoverable" data-ng-class="PlayViewModel.selectedColor($index)" id="option{{$index}}" data-ng-click="PlayViewModel.selectAnswer($index)">
      {{quizOptions}}
    </button>
  </div>
</div>

<!-- User Tools -->
<div class="row userTools">
  <div class="selectAnswer deep-orange center-align" data-ng-show="PlayViewModel.showWarn">Please select an answer</div>
  <button class="nextButton hoverable" data-ng-click="PlayViewModel.nextQuestion()">NEXT</button>
</div>

</div>
