// $grid-columns: 12 !default;


$knightWhite: #E7F2DF;
$knightPrimaryLight: #69043B;
$knightPrimaryDark: #59023B;
$knightSecondaryLight: #231E2D;
$knightSecondaryDark: #161726;

$anaglyphRedLight: #F73751;
$anaglyphRed: #F42C3C;
$anaglyphRedDark: #8E2924;
$anaglyphLightBlue: #63F2EB;
$anaglyphBlue: #02EBD8;
$anaglyphDarkBlue: #1B8A79;
$anaglyphWhite: #E1EFF4;
$anaglyphLightGrey: #5F736F;
$anaglyphDarkGrey: #192821;
