<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="side-image-content">

    <div class="questionArea">
      <div class="qTitle"></div>
      <div class="qText"></div>
      <div class="qImage"></div>
    </div>

    <div class="optionArea">
      <div class="option" id="optionA">
        <div class="optionTitle"></div>
        <div class="optionText"></div>
      </div>
      <div class="option" id="optionB">
        <div class="optionTitle"></div>
        <div class="optionText"></div>
      </div>
      <div class="option" id="optionC">
        <div class="optionTitle"></div>
        <div class="optionText"></div>
      </div>
      <div class="option" id="optionD">
        <div class="optionTitle"></div>
        <div class="optionText"></div>
      </div>
    </div>

    <div class="submitArea">
      <button id="submit">submit</button>
    </div>
  </div>
</div>
