<!-- ************************************* -->
<!-- ******** Question Section *********** -->
<div class="questionOptionArea">
  <div class="questionArea">
    <div class="qTitle"></div>
    <div class="qText"></div>
    <div class="qImage"></div>
  </div>

  <div class="optionArea">
    <div class="option" id="option0">
      <div class="optionTitle option0"></div>
    </div>
    <div class="option" id="option1">
      <div class="optionTitle option1"></div>
    </div>
    <div class="option" id="option2">
      <div class="optionTitle option2"></div>
    </div>
    <div class="option" id="option3">
      <div class="optionTitle option3"></div>
    </div>
  </div>
</div>
<!-- ************************************** -->
<!-- ************************************** -->
