<!-- ************************************** -->
<!-- *********** USER TOOLS *************** -->
<div class="submitArea">
  <p id="wait">Please select an answer before submitting</p>
  <button id="submit">submit</button>
  <button id="next">NEXT</button>
</div>

<div class="quizProgress">
  <p>QUIZ COMPLETION</p>
  <div class="progressArea">
    <div class="progress" id="progressDone"></div><div class="progress" id="progressToGo"></div>
  </div>
</div>
<!-- ************************************** -->
<!-- ************************************** -->
