<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="#">QUIZZES</a></li>
        <li class="nav-link"><a href="#">ABOUT</a></li>
        <li class="nav-link"><a href="#">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <hr>
      <h1 class="font-effect-anaglyph">WHERE?WOLF</h1>
      <hr>
    </div>
  </div>
</div>
