*
{
    font-family: 'Open Sans', sans-serif;
}
body
{
    background: #454545;
}

.clearfix{
    overflow: auto;
}

.wrapper
{
    width: 500px;
    margin: 50px auto;
    padding: 50px 0 50px 0;

    background-color: white;
}

.questionArea
{
    width: 300px;
    margin: 5px auto;
    padding: 5px;

    text-align: center;

    background: plum;
}

.question
{
    width: 250px;
    margin: 0 auto;
    /*padding: 0px;*/

    background: rgba(200,30,200,.5);
}

.questionStart
{
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    /*padding: 0px;*/

    background: rgba(200,30,200,.5);
}
.answerArea
{
    width: 300px;
    /*height: 150px;*/
    /*padding: 5px;*/
    margin: 5px auto;

    text-align: center;

}

#correctAnswer
{
    background-color: #454545;
    color: white;
}

.answerChoice
{
    font-family: 'Open Sans', sans-serif;
    /*font-size: 65px;*/

    float: left;

    width: 140px;
    height: 70px;
    /*padding: 2px;*/
    margin: 2px;

    color: #4d4d4d;
    border: 3px solid white;
    background: lemonchiffon;
}

.answerChoice:hover
{
    border: 3px solid pink;
}
.answerChoice:active
{
    background: orange;
}
.answerChoice p
{
    /*display: inline-block;
    vertical-align: middle;*/
    padding: 10px 0;
}

.buttonArea
{
    clear: both;

    width: 300px;
    margin: 5px auto;
    padding: 10px 5px;

    text-align: center;

    background: #454545;
}

.nextButton
{
    clear: both;

    margin: 0 auto;
    padding: 7px 10px;

    text-align: center;

    color: white;
    border: 0;
    background: salmon;
}

.submitButton
{
    clear: both;

    margin: 0 auto;
    padding: 7px 10px;

    text-align: center;

    color: white;
    border: 0;
    background: lime;
}

.refreshButton
{
    clear: both;

    margin: 0 auto;
    padding: 7px 10px;

    text-align: center;

    color: white;
    border: 0;
    background: orange;
}

h1
{
    margin: 0 auto;
    padding: 5px 0px;

    text-align: center;
}

h2
{
    font-size: 14px;
}

.gloryArea{
    width: 300px;
    margin: 0 auto;
    padding: 5px;

    text-align: center;

    background: gray;
}

.progressArea{
    width: 300px;
    margin: 20px auto;
    padding: 5px;

    border: 2px solid rgba(200,30,200,.5);
    background: rgba(200,30,200,.5);
    text-align: center;

}
.progressMade{
    width: 0%;
    height: 10px;
    background: purple;
    float:left;
}
.progressToGo{
    width: 100%;
    height: 10px;
    background: yellow;
    float:left;
}

.timerArea{
    width: 300px;
    margin: 0 auto;
    padding: 5px;

    text-align: center;

    background: lime;
}
